
body { 
    color:black;
    background-color: blanchedalmond;
    font-family: comic; 
}

p {
    color:lightgreen;
    font-size: 30px

}

h1 {
    color:black;
    font-size: 35px;
    font-family: cursive;
}

h2 {
    color: black;
    font-size: 25px;
    font-family: cursive;
}

h3 {
    color: black;
    font-size: 25px;
    font-family: cursive;
}

h4 {
    color: black;
    font-size: 25px;
    font-family: cursive;
}