


body {
    color: black;
    background-color: beige;
    font-family: cursive; 
}

p {
    color: brown;
    font-size: 28px 
    
}

h1 {
    color: brown;
    font-size: 30px
}

h2 {
    color: brown;
    font-size: 25px
}

h3 {
    color: brown; 
    font-size: 25px
}

